@media screen and (min-width:768px) {
   
      
   .container {
      max-width: 766px;
      margin-left: auto;
      margin-right: auto;
   }

   .mobile-menu {
      display: none;
   }

   .mobile-menu-open {
      display: none;
   }


   .main-nav {
      display: flex;
      align-items: center;
   }

   .menu {
      display: flex;
      align-items: center;
   }

   .logo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--main-color);
      margin-right: 120px;
   }

   .logo .web {
      color: #4D5AE5;
   }

   .menu-item:not(:last-child) {
      margin-right: 40px;
   }

   .menu-link {
      font-weight: var(--primary-font-weight);
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--main-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;

   }

   .menu-link:hover,
   .menu-link:focus {
      color: #4D5AE5;
   }

   .menu-link.current-page::after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      background: #404BBF;
      bottom: 0;
      border-radius: 2px;
      left: 0px;
      top: 40px;

   }

   .menu-link:active {
      color: black;
   }

   .contacts-item {
      display: block;
      align-items: center;
      margin-left: 118px;
   }

   .contacts {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .contacts:hover,
   .contacts:focus {
      color: #4D5AE5;
   }

   .contacts-list{
      margin-right: 16px;
      
   }

   .list-email {
      margin-bottom: 4px;
   }

   .list-tel {
      margin-bottom: 10px;
   }
       /* ======= HERO======= */
.hero {
/* max-width: 768px; */
height: 436px;
margin-left: auto;
margin-right: auto;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url('../images/herotablet.jpg');
   background-color: #434455;
   
      }
   
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
 .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)),
                url('../images/herotablet@2x.jpg');
             background-color: #434455;
          }
       }

       /* =================About us============ */
             .about-us {
                flex-wrap: wrap;
                row-gap: 72px;
                column-gap: 24px;
                /* justify-content: center; */
                }
.discr{ 
   width:calc((100%-48px)/3)
   
}

   
       /*============= our team=========== */
       .workers-list {
          display: flex;
          flex-wrap: wrap;
         column-gap: 24px;
            row-gap: 72px;
       }
   
   .card-content {
   padding: 32px 16px;
   background-color: #FFFFFF;
      text-align: center;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
      overflow: hidden
      }
   
      .team-list {
      background-color: #F4F4FD;
    }
   }

    /* =====Customer===== */
         /* .customer-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 16px;
               row-gap: 72px;
               align-items: center;
               margin-right: 16px;
               margin-bottom: 72px;
         } */
         
         
                  @media (min-width: 768px) and (max-width: 1199px){
                  
                     .wwad-none {
                           display: none;
                        }
                                                .customer-list {
                                                   display: flex;
                                                   flex-wrap: wrap;
                                                   column-gap: 16px;
                                                   row-gap: 72px;
                                                   justify-content: center;
                                                }
                  .customer-linkk {
                     width: calc((100% - 48px) / 3)
                  }
               .customer-list-icon{
                  width: 168px;
                     height: 88px;
                     padding: 16px, 32px;
               }
                              .customer-list {
                                 display: flex;
                                 flex-wrap: wrap;
                                 column-gap: 24px;
                                 
                         } 
                         /* about us */
.discr {
   margin-bottom: 0px;
   
   width: 356px;
   height: 120px;
   }
.secondary-title{
   text-align: center;
   margin-bottom: 69px;

}
/* =======FOOTER====== */
.footer {
   background-color: var(--bgc-main);
   padding-top: 100px;
   padding-bottom: 188px;
   display: flex;

}

.footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #E7E9FC;
   display: flex;
   margin-top: 16px;
   width: 264px;
   height: 72px;

}

.logo-fone-dark {
   color: #F4F4FD;
}

.footer-title {
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   text-align: center;
   margin-bottom: 16px;
}

.footer-list {
   display: flex;
   justify-content: center;
   gap: 16px;

}

.footer-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #434455;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-list-link:hover,
.footer-list-link:focus {
   background-color: #31D0AA;
}


.footer-list-icon {
   fill: #F4F4FD;

}

/* ===== footer position====== */

footer-container {
   display: flex;

}


.social-media {
   margin-right: 80px;
}

.logo-text {
   margin-right: 80px;
   margin-left: 80px;
   display: block;

}

/* ============FOOTER MODAL============ */

.modal-form-text {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   margin-bottom: 16px;
}

.button-footer-modal {
   background: #4D5AE5;
   border-radius: 4px;
   border: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 8px 24px;
   gap: 16px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer-modal:hover,
.button-footer-modal:focus {
   background-color: #404bbf;
   outline: none;

}

.footer-modal-form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-button-subscribe {
   width: 77px;
   height: 24px;
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #FFFFFF;
}


.imput-modal-footer {
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   width: 264px;
   height: 40px;
   background-color: transparent;
   margin-right: 24px;
   color: #E7E9FC;
   padding-left: 16px;
}




}
